body{
	background-color: #f0f4ff;
}
form {
	margin: 20px auto;
}
td>span{
	font-size: 12px;
	color:red;
	padding-left:5px;
}
td{
	height:30px;
}
th{
	text-align:center;
	height:60px;
	font-size:28px;
}
td:first-child{
	text-align:right;
}
table{
	border-radius:3px;
	background-color:white;
	margin:auto;
	margin-top:100px;
}
